body{
   background-color: #000000; 
   color: white;
   margin: 0;
   padding: 0;
} 

.div{
    background-color: white;
    width: 20px;
    height: 3px;
    margin-bottom: 3px;
}


.header_form{
display: flex;
flex-direction: column;
height: fit-content;
width: 200px;
align-items: center;
}
.Logo_itself{
    font-size: 2em;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 1px;
    background:linear-gradient(to right , rgb(34, 34, 192), green) ;
    border-radius: 5px;
    padding: 3px;
    color:whitesmoke;
}  
.div_1{
    width: fit-content;
    cursor: pointer;
    margin: 0;
    padding: 3px;
} 

.aside{
    display: none;
    margin: 0;
    padding: 0;
    border-radius: 2px;
    width: 200px;
    height: fit-content;
    animation: load 2s forwards;
    
}
@keyframes load {
    aside {width: 200px;}
}

.a{
    display: initial;
}


ul{
    
    list-style: none;
}
li{
    color: white;
    margin-top: 5px;
}

.li{
    margin: 5px;
}
.div{
    margin-left:3px;
}


.form_Section{
    position: absolute;
    top: 8%;
    width: 75%;
    left: 20%;
    margin: 40px auto;
}
fieldset{
    padding: 10px;
    margin: 5px 3px;
    border-radius: 5px;
    border: 3px solid rgb(141, 187, 141);
}
fieldset legend{
    color:rgb(179, 240, 179);
}
.Input_Div{
    margin: 5px 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}



.Label{
    margin-bottom: 3px;   
}
.inp{
    text-align: center;
    border-right: 2px solid red;
    border-radius: 5px;
    
}

.op{
    width: 25%;
    display: flex;
    justify-content: initial;
}
.Btn{
    background-color: aquamarine;
    display: inline;
    height: 20px;
    width: 100px;
    text-align: center;
    margin-left: 100px;
    margin-top: 2px;
    border-radius: 3px;
    cursor: pointer;
    

}
#submitbtn{
    margin-left: 5px;
    padding: 4px;
    background-color: rgb(29, 193, 29);
    border: transparent;
    cursor: pointer;
    border-radius: 5px;
    
}

#submitbtn:hover{
    background-color:red;
    transition-duration: 1s;
    color: white;
}

.main_div{
            position: absolute;
            top: 200px;
            left: 35%;
            width: 25%;
            height: 100px;
            margin: 40px auto;
            border-radius: 5px;
            box-shadow: 0px 1px 0px 1px white;
            
}
.s_d{
         background-color: rgb(51, 160, 160);
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;

        }
.s_d h3{
            margin-top: 0;
            margin-bottom: 0;
            color: white;
            
}
.rd{
            background-color: black;
            width: 90%;
            height: 8px;
            border-radius: 7px;
}
.p_bar{
            height: 8px;
            width: 67%;
            background-color: azure;
            border-radius: 7px;
}
.percentage{
            margin: 0;
            padding: 0;
}

.Form_print{
    background-color: aqua;
    display: flex;
    margin: 200px;
    flex-direction: column;
    justify-content: space-evenly;

    padding: 10px;
}
.Upper{
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    margin: 5px 3px;
    padding: 6px;
    border-radius: 5px;

}
.lower{
    display: flex;
    justify-content: space-around;
    margin: 5px 3px;
    border: 2px solid black;
    border-radius: 5px;
}

.Image{
    background-color: #000000;
    width: 10%;
    margin: 5px;
    height: 150px;
    border-radius: 5px;

}

.Lower_1{
    background-color: green;
    margin: 5px;
    padding: 10px;
    width: 40%;

}

.Lower_2{
       background-color: green;
    margin: 5px;
    padding: 10px;
    width: 40%;
}
img{
    width: 100%;
    height: 100%;
}

@media (max-width :786px) {
    .div{
    background-color: white;
    width: 20px;
    height: 1px;
    margin-bottom: 3px;
}
.Logo_itself{
    font-size: 1em
}  
 

fieldset legend{
    color:rgb(179, 240, 179);
}
.Input_Div{
    margin: 5px 3px;
    display: flex;
    flex-direction: column;
}
.form_Section{
    left: 12%;
    top: 15%;
    
}
.Form_print{
    background-color: aqua;
    display: flex;
    position: relative;
    top: 225px;
    right: 80px;
    border-radius: 5px;
    width: 70%;
}

.Image{
    background-color: #000000;
    width: 20%;
    height: 150px;
    margin: 5px;
    border-radius: 5px;

}
.lower{
    flex-direction: column;
    align-items: center;
}

.Lower_1{
    width: 80%;

}

.Lower_2{
    width: 80%;
}

}