@import url('https://fonts.googleapis.com');
:root{
    --bg-gradient: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );  
  
   --bg-reverse: linear-gradient(
    to right top,
    #008793,
  
   
    #004d7a
    
  ); 
}
body {
    min-height: 100vh;
    background-image: var(--bg-gradient);
}
#Div{
    background:var(--bg-reverse);   
    
}
.bi{
    font-size: 35px;
    margin-right: 10px;
    color: white;
    cursor: pointer;

}
.bi:hover{
    transform: scale(1.5);
    transition: all 1s;
}
.heading{
    color: #a8eb12;
    margin-left: 20px;
    margin-top: 10px;
}
.header_container{
    border-bottom: 1px solid white;
}
.side_bar{
    background: var(--bg-reverse);
    height: 84vh;
    border-right: 1px solid white;
}

.btn{
   background-color: #00bf72;
   color: white;
}
.btn:hover {
    background-color: #a8eb12;
    border-color: #a8eb12;
    color: white;
    transform: scale(1.05); /* optional zoom effect */
    transition: 0.4s;       /* smooth effect */
}
.div{
    background-color: #00bf72;
    border: 2px solid white;
}