@import url('https://fonts.googleapis.com');
:root{
    --bg-gradient: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );  
  
   --bg-reverse: linear-gradient(
    to right top,
    #008793,
  
   
    #004d7a
    
  ); 
}
body {
    min-height: 100vh;
    background-image: var(--bg-gradient);
}
#Div{
    background:var(--bg-reverse);   
}
.bi{
    font-size: 35px;
    margin-right: 10px;
    color: white;
    cursor: pointer;

}
.bi:hover{
    transform: scale(1.5);
    transition: all 1s;
}
.ani{
    transition: all 1s;
}
.side{
    display: flex;
    justify-content: center;
}
.heading{
    color: #a8eb12;
    margin-left: 20px;
    margin-top: 10px;
}
.header_container{
    border-bottom: 1px solid white;
}
.side_bar{
    background: var(--bg-reverse);
    height: fit-content;
    border-right: 1px solid white;
}
.btn{
   background-color: #00bf72;
   color: white;
}
.btn:hover {
    background-color: #a8eb12;
    border-color: #a8eb12;
    color: white;
    transform: scale(1.05); /* optional zoom effect */
    transition: 0.4s;       /* smooth effect */
}
.div{
    background-color: #00bf72;
    border: 2px solid white;
}
.text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}
.bi-cash{
    font-size: 30px;
    color: #09f201;
}
.text{
    color: #09f201;
    font-size: 2rem;
}

.card{
    padding: 15px;
    box-shadow: 5px 5px 20px  rgb(190, 9, 172);
    
}

.card:hover{
    background-color: #004d7a;
    color: white;       
    transform: scale(1.1);
    transition: all .8s;
    cursor: pointer;

}
.popup{
    position: absolute;
    top: 10%;
    left: 10%;
}