/* 
 *  base css file for the project
 *  contains all the basic styles and resets
 *  also imports google fonts
 * 
 */
@import url('https://fonts.googleapis.com');
:root{
    --background-color:#0de062;
    --text-heading-color:#ffffff;

}

.body_lg_page{
     background: var(--background-color);
}
.header{
    font-family: 'Roboto', sans-serif;
    color: var(--text-heading-color);
    font-weight: bold;
}

.dashboard_body{
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
}

.collapse-box {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: 
        max-height 0.5s ease,
        opacity 0.4s ease,
        transform 0.4s ease;
}

.collapse-box.show {
    max-height: 500px; 
    opacity: 1;
    transform: translateY(0);
}

.bi-cart{
    font-size: 1.5rem;
}

.bi-cart-fill{
    font-size: 1.5rem;
}

.bi-cart:hover{
    color: red;
    cursor: pointer;
}

.h5_cate{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
}

.logo{
    font-size: 1rem;
}
.logo i{
    font-size: 2rem;
}
.logo p{
    font-size: 0.8rem;
}
.logo:hover{
    color: green;
    cursor: pointer;
}

.aside_dash{
    border-right: 2px solid var(--background-color);
    border-top: 2px solid var(--background-color);
    border-bottom: 2px solid var(--background-color);
}