/* 
 *  base css file for the project
 *  contains all the basic styles and resets
 *  also imports google fonts
 * 
 */
@import url('https://fonts.googleapis.com');
:root{
    --background-color:#0de062;
    --text-heading-color:#ffffff;

}

.body_lg_page{
     background: var(--background-color);
}
.header{
    font-family: 'Roboto', sans-serif;
    color: var(--text-heading-color);
    font-weight: bold;
}

.dashboard_body{
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
}