/* # Layout (navbar, sidebar, grid) */

:root{
    --background-color:#0de062;
    --text-heading-color:#ffffff;

}
.header_Loginpage{
    margin: 20px 0;
    text-align: center;
}

.main_dahboard{
    height: 96vh;
    width: 95vw;
    margin-top: 20px;
    background-color: white;
}


.board{
    height: 50vh;
    border: 2px solid var(--background-color);
    border-radius: 5px;
    height: fit-content;
}

.P_card{
    padding: 5px;
}

.card_p{
    border-radius: 5px;
    border: 1px solid rgb(194, 194, 194);
    margin-top: 5px;
}

.table_head{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: silver;
}

#btn_div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
}

.form{
    border: 3px solid #0de062;
    border-radius: 5px;
    box-shadow: 1px 3px 10px #0de062;
}