body{
    margin: 0;
    padding: 0;
}
.header{
    padding: 30px;
    width: 60%;
    margin-left: 20%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    border-radius: 5px;
}

.header .Logo{
    color: white;
}


.bTN{
    padding: 1px 10px;
    color: rgb(231, 198, 9);
    background-color: rgb(14, 14, 24);
    border: 1px solid rgb(231, 198, 9);
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;

}

.bTN:active{
    transition: transform .8s ease-in;
    transform: scale(.6);
}

.Imageh{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.nav{
    margin-top: 20px;
}
.Image{
    display: flex;
    align-items: center;
    justify-content: center;

}
.Intro{
    display: flex;
    justify-content:space-evenly;
    width: 70%;
    margin-top: 40px;
    margin-left: 15%;
}
.School_intro{
    width: 45%;
    box-shadow: 2px 2px 10px rgb(17, 6, 220);
    padding: 20px;
    border-radius: 10px;
}
.Image{
    width:30%;
}
.Image img{
    width: 300px;
    border-radius: 10px;

}
.para{
    text-align: center;
    margin-top: 100px;
    color: rgb(17, 6, 220);
}
.Form{
    margin-top: 40px;
    margin-left: 28%;
    box-shadow: 2px 2px 6px rgb(17, 6, 220);
    width: 50%;
    height: auto;

}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.Stu_input{
    padding: 25px;
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
    justify-content: center;
}
.Submit{
    background-color: rgb(17, 6, 220);
    color: white;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 7px;
    margin-bottom: 10px;
    
}
.Submit:hover{
    background-color: green;
    transition: background-color .5s ease-in;

}
.inp{
    outline: none;
    margin-top: 5px;
    margin-bottom: 7px;
    width: 60%;
    background-color: rgb(17, 6, 220);
    border: transparent;
    padding: 7px;
    border-radius: 7px;
}
.inp::placeholder{
    color: white;
}
.inp:focus{
    transition: transform .6s ease-in-out;
    transform: scale(1.2);
}
.View{
    background-color: rgb(17, 6, 220);
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
    width: 50%;
    margin-left: 25%;
    border-radius: 5px;
}
.Heading{
    color: rgb(231, 198, 9);
    margin: 3px;
}
.F{
    color: rgb(231, 198, 9);
     margin: 3px;
}
.C{
    color: rgb(231, 198, 9);
     margin: 3px;
}
@media (max-width : 786px) {
    .header{
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-left: 0;
        gap: 20px
}
.para{
    text-align: center;
    margin-top: 0;
}
 .nav{
    margin-top:0 ;
 }   
 .Intro{
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
}