body{
    background-color: rgb(2, 2, 241);
    margin: 0;
    padding: 0;
}
.header{
    padding: 30px;
    width: 60%;
    margin-left: 20%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    border-radius: 5px;
}

.header .Logo{
    color: white;
}


.bTN{
    padding: 1px 10px;
    color: rgb(231, 198, 9);
    background-color: rgb(14, 14, 24);
    border: 1px solid rgb(231, 198, 9);
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;

}

.bTN:active{
    transition: transform .8s ease-in;
    transform: scale(.6);
}
@media (max-width : 786px) {
    .header{
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-left: 0;
        gap: 20px;
}
    
}