
body{
    background-color: rgb(12, 33, 73);
    margin: 0;
    padding: 0;
}
.head{
    padding: 3px;
    text-align: center;
}
.h1{
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.main{
    margin: 20px;
    height: fit-content;
    display: flex;
    justify-content: center;
}
.main_child{
    box-shadow: 3px 1px 5px rgb(232, 213, 213);
    width: 75%;
    border-radius: 5px;
    margin: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

}
.input{
    margin-top: 20px;
    margin-right: 10px;
}

.ul{
    background-color: whitesmoke;
    border-radius: 5px;
    margin-top: 30px;
    height: fit-content;
}

.list{
    background-color: white;
    height: fit-content;
}
.list_item{
    color: green;
    list-style: none;
    margin-top: 2px;
    margin-bottom: 0;
    font-size: larger;
    text-transform: capitalize;
}

.list2{
    color: red;
    font-size: larger;
    text-transform: capitalize;
    text-decoration: line-through;
}